<!DOCTYPE html>
<html>
    <style>
        .error {color: red;}
    </style>
    <form method='POST'>
        <head>
            <h1>
                Signup
            </h1>

        </head>
        <body>
            <tr>
                <td><label for="user_Name"> Username</label></td>

                <td><input type="text" name="user_Name" id="UserName" value='{{user_Name}}'></td>
                <span class="error">{{userNameError}}</span><br>
                
            </tr>
            <tr>

                <td><label for="Password"> Password </label></td>

                <td><input type="password" name="Password" id="Password"></td>
                <span class="error">{{passwordError}}</span><br>
                

            </tr>
            <tr>

                <td><label for="VerifyPassword">Verify Password </label></td>

                <td><input type="password" name="VerifyPassword" id="VerifyPassword"></td>
                <span class="error">{{passwordError}}</span><br>
                
            </tr>
            <tr>
                <td><label for="Email">Email (Optional)</label></td>

                <td><input type="text" name="Email" id="Email" value='{{email}}'></td>
                <span class="error">{{emailError}}</span><br>
                
            </tr>
            <tr>
                <td><button type="submit">
                Submit
                </button></td>
            </tr>
        </body>
    </form>
</html>